# -*- python -*-
# ex: set syntax=python:
from buildbot.plugins import *
from buildbot.status import html
from buildbot.status.web import authz, auth

from buildbotdocker import GIT_REPO_URL
from buildbotdocker import PROJECT_TITLE
from buildbotdocker import PROJECT_URL

from buildbotdocker import BUILDBOT_SLAVE_NAME
from buildbotdocker import BUILDBOT_SLAVE_PASS
from buildbotdocker import BUILDBOT_MASTER_PROTOCOL_PORT
from buildbotdocker import BUILDBOT_GITPOLLER_BRANCH
from buildbotdocker import BUILDBOT_GITPOLLER_BRANCHES
from buildbotdocker import BUILDBOT_SCHEDULERS
from buildbotdocker import BUILDBOT_BUILDER_NAME
from buildbotdocker import BUILDBOT_FACTORY
from buildbotdocker import BUILDBOT_MASTER_PORT
from buildbotdocker import BUILDBOT_MASTER_AUTHZ_CFG
from buildbotdocker import BUILDBOT_URL
from buildbotdocker import BUILDBOT_DB_URL

c = BuildmasterConfig = {}
c['title'] = PROJECT_TITLE
c['titleURL'] = PROJECT_URL
c['buildbotURL'] = BUILDBOT_URL
c['slaves'] = [buildslave.BuildSlave(BUILDBOT_SLAVE_NAME, BUILDBOT_SLAVE_PASS)]
c['protocols'] = {'pb': {'port': BUILDBOT_MASTER_PROTOCOL_PORT}}
c['schedulers'] = BUILDBOT_SCHEDULERS
c['change_source'] = [changes.GitPoller(GIT_REPO_URL,
                                        workdir='gitpoller-workdir',
                                        branch=BUILDBOT_GITPOLLER_BRANCH,
                                        branches=BUILDBOT_GITPOLLER_BRANCHES,
                                        pollinterval=300) ]

c['builders'] = [util.BuilderConfig(name=BUILDBOT_BUILDER_NAME,
                                    slavenames=[BUILDBOT_SLAVE_NAME],
                                    factory=BUILDBOT_FACTORY) ]

c['status'] = [html.WebStatus(http_port=BUILDBOT_MASTER_PORT,
                              authz=BUILDBOT_MASTER_AUTHZ_CFG) ]

c['db'] = { 'db_url' : BUILDBOT_DB_URL, }
