commonmaster:
    build: .
    environment:
        - GIT_REPO_URL=https://github.com/samuelololol/buildbotdocker.git
        - GIT_REPO_BRANCH=master
        - PROJECT_TITLE=BuildbotDocker
        - PROJECT_URL=https://github.com/samuelololol/BuildbotDocker.git
        - PROJECT_TEST_FOLDER=test
        - TZ=Asia/Taipei
        - GIT_SSH=/usr/local/bin/git_ssh
    volumes:
        - ~/.ssh:/root/.ssh:ro

commonslave:
    image: samuelololol/ubuntu-buildbot-slave
    volumes:
        - ~/.ssh:/root/.ssh:ro
        - /var/run/docker.sock:/var/run/docker.sock

